<div class="mb-md">
    <nz-input [(ngModel)]="queryParams.testname" name="name" nzPlaceHolder="请输入姓名" style="width: 100px"></nz-input>
    <button nz-button (click)="st.load(1)" [nzType]="'primary'">搜索</button>
    <button nz-button (click)="params = {}; st.reset()">重置</button>
    <!--  -->
    <button nz-button (click)="st.export()">Export</button>
</div>
<simple-table #st [data]="dataTable.dataUrl" [extraParams]="params" [total]="10" [columns]="dataTable.columns" [resReName]="dataTable.resReName" showTotal="dataTable.showTotal">
</simple-table>