<h1>基础</h1>
<h3>水平布局：</h3>
<nz-card>
    <ng-template #body>
        <my-simple-form layout="horizontal"
            [schema]="DATA.horizontal.schema"
            [model]="DATA.horizontal.model"
            [actions]="actions" (onChange)="DATA.horizontal.value=$event.value"></my-simple-form>
    </ng-template>
</nz-card>
<h3>垂直布局：</h3>
<nz-card>
    <ng-template #body>
        <my-simple-form layout="vertical"
            [schema]="DATA.vertical.schema"
            [model]="DATA.vertical.model"
            [actions]="actions" (onChange)="DATA.vertical.value=$event.value"></my-simple-form>
    </ng-template>
</nz-card>
<h3>内联布局：</h3>
<nz-card>
    <ng-template #body>
        <my-simple-form layout="inline"
            [schema]="DATA.inline.schema"
            [model]="DATA.inline.model"
            [actions]="actions" (onChange)="DATA.inline.value=$event.value"></my-simple-form>
    </ng-template>
</nz-card>
