<!--<h5>{{title}}</h5>-->
<div class="panel" style="margin-bottom:0px;">
    <table class="table table-hover table-striped table-bordered tablesorter table-data my-table">
        <ng-content select="thead"></ng-content>
        <ng-content select="tbody"></ng-content>
        <tfoot>
            <tr style="text-align:right">
                <td colspan="100" class="table-foot-toolbar">
                    <app-pagination [totalItems]="totalCount" [(pageIndex)]="pageIndex" [(pageSize)]="pageSize" (onPageChange)="onPageChange($event)"></app-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</div>